<%= render "layouts/header" %>
<section id="initiative-information" class="initiative">
  <article class="initiative-container full-view">
    <div class="initiative-ctr-thumbnail">
      <%= image_tag(@initiative.image.url) if @initiative.has_image? %>
    </div>
    <div class="initiative-ctr-content">
      <h4><%= @initiative.title %></h4>


      <div class="content"><%= @initiative.content %></div>
      <div class="js-priority-tabs">
        <div data-priority-id="1"<%= " class=active" if @priority.include?(1) %>>High</div>
        <div data-priority-id="2"<%= " class=active" if @priority.include?(2) %>>Medium</div>
        <div data-priority-id="3"<%= " class=active" if @priority.include?(3) %>>Low</div>
      </div>
      <div class="js-status-tabs">
        <div data-status="yes"<%= " class=active" if @solved %>><div class="green initiative-info-vote"><span class="fa fa-check fa-2x"></span></div></div>
        <div data-status="no"<%= " class=active" if !@solved %>><div class="red initiative-info-vote"><span class="fa fa-remove fa-2x"></span></div></div>
      </div>
    </div>

  </article>
</section>

<input id="js-user-id" type="hidden" value="<%= @user_id %>">
<input id="js-initiative-id" type="hidden" value="<%= @initiative.id %>">
